<style>
	#btnsendemail::after {
	  content: "\0412\044b\0431\0440\0430\0442\044c";
	  white-space:nowrap;
	}
</style>

<div class="popups">
	<div class="modal hide b-contacts-content" data-bind="modal: modalVisibility">
		<div class="modal-header b-header-toolbar g-ui-user-select-none">

			<button type="button" class="close" data-bind="command: cancelCommand">&times;</button>

			<div class="btn-toolbar">

				
				<div class="btn-group">
					<a class="btn single btn-success button-new-message" data-bind="command: newMessageCommand">
						<span id="btnsendemail"></span>
					</a>
				</div>


			</div>
		</div>
		<div class="modal-body" style="position: relative;">
			<div class="b-list-toolbar">
				<input type="text" class="i18n span3 e-search" placeholder="Search" autocorrect="off" autocapitalize="off" data-i18n="[placeholder]CONTACTS/SEARCH_INPUT_PLACEHOLDER" data-bind="value: search" />
			</div>
			<div class="b-list-content g-ui-user-select-none" data-bind="nano: true, scrollerShadows: true, css: {'hideContactListCheckbox': !useCheckboxesInList()}">
				<div class="content g-scrollbox" data-scroller-shadows-content>
					<div class="content-wrapper">
						<div class="listClear" data-bind="visible: viewClearSearch() && '' !== search()">
							<span class="g-ui-link i18n" data-i18n="CONTACTS/CLEAR_SEARCH" data-bind="command: clearCommand"></span>
						</div>
						<div class="listEmptyList" data-bind="visible: 0 === contacts().length && '' === search() && !contacts.loading()">
							<span class="i18n" data-i18n="CONTACTS/EMPTY_LIST"></span>
						</div>
						<div class="listEmptyListLoading" data-bind="visible: 0 === contacts().length && '' === search() && contacts.loading()">
							<span class="i18n" data-i18n="CONTACTS/LIST_LOADING"></span><span class="textLoadingAnimationD1">.</span><span class="textLoadingAnimationD2">.</span><span class="textLoadingAnimationD3">.</span>
						</div>
						<div class="listEmptySearchList" data-bind="visible: 0 === contacts().length && '' !== search() && !contacts.loading()">
							<span class="i18n" data-i18n="CONTACTS/EMPTY_SEARCH"></span>
						</div>
						<div class="e-contact-foreach g-ui-user-select-none" data-bind="foreach: contacts, visible: 0 < contacts().length">
							<div class="e-contact-item g-ui-user-select-none" data-bind="css: lineAsCss()">
								<div class="sidebarParent">
									&nbsp;
								</div>
								<div class="wrapper">
									<div class="checkedParent">
										<i class="checkboxItem" data-bind="css: checked() ? 'checkboxMessage icon-checkbox-checked' : 'checkboxMessage icon-checkbox-unchecked'"></i>
									</div>
									<div class="shareParent actionHandle">
										<i class="icon-share"></i>
									</div>
									<div class="nameParent actionHandle">
										<span class="listName" data-bind="text: display"></span>
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="b-list-footer-toolbar">
				<div class="pull-right footer-pager">
					<!-- ko template: { name: 'Pagenator', data: contactsPagenator } --><!-- /ko -->
				</div>
			</div>
			<div class="b-view-content-toolbar btn-toolbar" data-bind="css: {'read-only': viewReadOnly}">
				
				<div class="btn-group pull-right">&nbsp;</div>
				<div class="btn-group pull-right">
					
				</div>
			</div>
			<div class="b-view-content" data-bind="nano: true, scrollerShadows: true, css: {'read-only': viewReadOnly}">
				<div class="content g-scrollbox" data-scroller-shadows-content>
					<div class="content-wrapper">
						<div class="b-contact-view-desc" data-bind="visible: emptySelection">
							<span class="i18n" data-i18n="CONTACTS/CONTACT_VIEW_DESC"></span>
						</div>
						<div data-bind="visible: !emptySelection()">
							<div class="form-horizontal top-part">
								<div 

								class="control-group" data-bind="visible: !viewReadOnly() || 0 < viewPropertiesEmailsNonEmpty().length">
									<label class="control-label remove-padding-top fix-width">
										<i class="icon-user iconsize24"></i>
									</label>
									<div class="controls fix-width">
										<div data-bind="foreach: viewPropertiesNames">
											<div class="property-line">
												<span class="contactValueStatic" data-bind="text: value"></span>
												<input 

												style=" pointer-events: none; position: relative;  "

												type="text" class="contactValueInput"
													autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
													data-bind="value: value, hasFocus: focused, valueUpdate: 'keyup'" />
											</div>
										</div>
										<div data-bind="visible: 0 < viewPropertiesOther().length, foreach: viewPropertiesOther">
											<div class="property-line">
												<!-- ko if: !largeValue() -->
												<span class="contactValueStatic" data-bind="text: value"></span>
												
												<!-- /ko -->
												<!-- ko if: largeValue -->
												<span class="contactValueTextAreaStatic" data-bind="text: value"></span>
												
												<!-- /ko -->
											</div>
										</div>
									</div>
								</div>
								<div 

								class="control-group" data-bind="visible: !viewReadOnly() || 0 < viewPropertiesEmails().length">
									<label class="control-label remove-padding-top fix-width">
										<i class="icon-at iconsize24" data-tooltip-join="right" data-bind="tooltip: 'CONTACTS/LABEL_EMAIL'"></i>
									</label>
									<div class="controls fix-width">
										<div data-bind="foreach: viewPropertiesEmails">
											<div class="property-line">
												<span class="contactValueStatic" data-bind="text: value"></span>
												<input 

												style=" pointer-events: none; position: relative;  "

												type="text" class="contactValueInput"
													autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
													data-bind="value: value, hasFocus: focused, valueUpdate: 'keyup'" />
											</div>
										</div>
										
									</div>
								</div>
								<div class="control-group" data-bind="visible: 0 < viewPropertiesPhones().length">
									<label class="control-label remove-padding-top fix-width">
										<i class="icon-telephone iconsize24" data-tooltip-join="right" data-bind="tooltip: 'CONTACTS/LABEL_PHONE'"></i>
									</label>
									<div class="controls fix-width">
										<div data-bind="foreach: viewPropertiesPhones">
											<div class="property-line">
												<span class="contactValueStatic" data-bind="text: value"></span>
												<input type="text" class="contactValueInput"
													autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
													data-bind="value: value, hasFocus: focused, valueUpdate: 'keyup'" />
											</div>
										</div>
									</div>
								</div>
								<div class="control-group" data-bind="visible: 0 < viewPropertiesWeb().length">
									<label class="control-label remove-padding-top fix-width">
										<i class="icon-earth iconsize24" data-tooltip-join="right" data-bind="tooltip: 'CONTACTS/LABEL_WEB'"></i>
									</label>
									<div class="controls fix-width">
										<div data-bind="foreach: viewPropertiesWeb">
											<div class="property-line">
												<span class="contactValueLargeStatic" data-bind="text: value"></span>
												<input type="text" class="contactValueInputLarge" placeholder="http://"
													autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
													data-bind="value: value, hasFocus: focused, valueUpdate: 'keyup'" />
											</div>
										</div>
									</div>
								</div>
								<div class="control-group">
									<div class="controls fix-width">
										<br />
										<br />
									</div>
								</div>
							</div>

<!--							<div class="e-read-only-sign">
								<i class="icon-lock iconsize24" data-tooltip-join="right" data-bind="tooltip: 'CONTACTS/LABEL_READ_ONLY'"></i>
							</div>-->


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
